body  {
    background-image: url("./img/スキッチポスター.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: auto;
    background-origin: border-box;
}

HEAD
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

body {
  
}

.body-text {
 
}

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 20px;
  padding-bottom: 10px;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: red;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

.menu-pane {
  background-color: #000;
  position: absolute;
  transform: translateX(-55vw);
  transform-origin: (0, 0);
  width: 50vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane nav{
 margin:100px 0px 30px 4%;
 padding: 0px 0px 0px 0px;
 }

 .menu-pane ul {
  margin: 10px 0px 10px 4%;
  padding: 0px 0px 0px 0px;
}

.menu-links li, a, span {
  transition: 0.5s ease-in-out;
}

.menu-pane li {
 font-size: 40px;
}

.menu-links li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0px 0px 0px 4%;
}

.menu-links li:hover{
  background-color: #FFAB91;
}

.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 20px;
  width: 40px;
  opacity: 0;
  height: 40px;
}

@media(min-width: 1001px ){
  .menu-pane li {
    font-size: 40px;
   }

   p.st img{
    background-position: center;
    background-color:rgb(212, 247, 252);

    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
  }

}

@media(max-width: 1000px ) and (min-width: 671px ){
  .menu-pane li {
    font-size: 30px;
   }

   p.st img{
    background-position: center;
    background-color: rgba(162, 216, 54, 0.534);
    background-color:rgb(212, 247, 252);
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
  }

}

@media(max-width: 670px ){
  .menu-pane li {
    font-size: 20px;
   }

   p.st img{
    background-position: center;
    background-color:rgb(212, 247, 252);
    width: 75%;
    height: auto;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 10%;
  }
}

*{
    box-sizing:border-box;
  }
  
  body{
    background-color:rgb(212, 247, 252);
  }

.lesson-wrapper{
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
      text-align: center;
    height: 1500px;
  }
  .vary{
    display: inline-block;
    width:80%;
    margin: auto;
  }
  .online{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: pink;
    border-radius: 0px;
    text-align: center;
  }
  .taimen{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: #f6ad49;
    border-radius: 0px;
    text-align: center;
  }
  .bunka{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color:rgba(240, 225, 14, 0.966);
    border-radius: 0px;
    text-align: center;
  }
  .gaku{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color:rgba(86, 240, 14, 0.534);
    border-radius: 0px;
    text-align: center
  }
  .tenzi{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color:rgba(14, 232, 240, 0.966);
    border-radius: 0px;
    text-align: center
  }
  .ongaku{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color:rgba(240, 14, 210, 0.966);
    border-radius: 0px;
    text-align: center
  }
  .undou{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color:rgba(240, 48, 14, 0.966);
    border-radius: 0px;
    text-align: center
  }
  
  .online a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .taimen a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .bunka a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .gaku a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .tenzi a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .ongaku a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .undou a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }

  background-color:rgba(14, 232, 240, 0.966);
  .heading {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #5f5d60;
    width:100%;
  }
  .heading h2 {
    font-weight: bold;
    text-align: center;
    background-color:rgb(52, 248, 238);
    width: 45%;
    display: block;
    margin: auto;
    border-radius: 50px;
    padding: 20px;
  }
  
  .lesson {
    float: left;
    width: 33%;
    background-color:white;
    padding: 0px;
    margin: 20px 0;
    border: solid 7px rgb(57, 211, 250);
    border-radius: 0px;
    height: 300px;
  }
  .lesson1 {
    float: left;
    width: 33%;
    background-color:white;
    padding: 0px;
    margin: 20px 0;
    border: solid 7px rgb(57, 211, 250);
    border-radius: 30px;
    height: 360px;
  }
  .lesson-icon {
    position: relative;
    display: block;
  }
  .lesson-icon a {
    top: 30%;
    width: 100%;
    color: #5f5d60;
  }
  .LC{
    display:block;
  }
  .text-contents {
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:#f6ad49;
    border-radius: 10px;
  }
  .text-contents1{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:pink;
    border-radius: 10px;
    }
  .text-contents2{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:rgba(86, 240, 14, 0.534);
    border-radius: 10px;
  }
  .text-contents3{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:rgba(240, 225, 14, 0.966);
    border-radius: 10px;
  }
  .text-contents4{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:rgba(240, 48, 14, 0.966);
    border-radius: 10px;
  }
  .text-contents5{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:rgba(14, 232, 240, 0.966);
    border-radius: 10px;
  }
  .text-contents6{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:rgba(240, 14, 210, 0.966);
    border-radius: 10px;
  }


  .btn {
    padding:0px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 0px;
    text-align: center;
    position:relative;
	  top:0;
    padding:10px 20px;
    color: #333;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
  }
  .btn1 {
    padding:20px;
    display: inline-block;
    opacity: 0.8;
    border-radius:50px;
    text-align: center;
    margin: 20px 20px;
    position:relative;
	  top:0;
    padding:10px 20px;
    display: inline-block;
   
    color: #333;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
  }
  .btn:hover {
    opacity: 1;
    background-color: #f7f7f7;
    top:-3px;
   	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  .btn1:hover{
    opacity:1;
    top:-3px;
	  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  .lesson a{
    display: inline-block;
    width:100%;
  }
  header h1{
    font-size: 40px;
    text-align: center;
  }
  img{
    width:130px;
    height: 130px;
    margin-top: 20px;
    object-fit: cover;
  }
  .btn .block{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
@media screen and (max-width:575.98px) {
  .lesson {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color:white;
    padding-bottom: 0px;
    margin: 10px 0px;
    border: solid 7px rgb(57, 211, 250);
    border-radius:0px;
  }
  .lesson1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color:white;
    padding-bottom: 0px;
    margin: 10px 0px;
    border: solid 7px rgb(57, 211, 250);
    border-radius:0px;
  }
  .btn1 {
    padding:5px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;
    margin: 10px 0px;
  }
  .vary{
    display: inline-block;
    width:100%;
    margin: auto;
  }
  .lesson-wrapper{
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 2950px;
}
.heading h2 {
  font-size:medium;
  width:60%;
}
.online{
  display: inline-block;
  width: 45%;
  padding: 10px;
  margin: 10px;
  background-color: pink;
  border-radius: 50px;
  text-align: center;
}

}

@media screen and (max-width:767.98px) and (min-width:576px) {
  .lesson {
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color:white;
    padding-bottom: 0px;
    margin: 10px 0px;
    border: solid 7px rgb(57, 211, 250);
    border-radius:0px;
  }
  .lesson1 {
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color:white;
    padding-bottom: 0px;
    margin: 10px 0px;
    border: solid 7px rgb(57, 211, 250);
    border-radius:0px;
  }
  .taimen{
    display: inline-block;
    width: 40%;
    padding: 0px 20px;
    margin: 0px;
    background-color: #f6ad49;
    border-radius: 50px;
    text-align: center;
  }
  .btn1 {
    padding:20px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;
    margin: 10px 0px;
  }
  .vary{
    display: inline-block;
    width:100%;
    margin: auto;



  }
  .lesson-wrapper{
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 1800px;
}
}

@media screen  and (max-width:1498.98px) and (min-width:768px){
  .lesson-icon a {
    top: 44%;
    width: 100%;
    color: #5f5d60;
    font-size:20px;
  } 
}

@media screen  and (min-width:1500px){
}


HEAD
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

.menu-container{
  width: 40px;
}

.hamburger-icon {
  position: fixed;
  display: block;
  z-index: 999;
  top: 15px;
  left: 20px;
  padding-bottom: 10px;
 }

.hamburger-label{
  position: fixed;
  top: 15px;
  left: 20px;
}

.hamburger-icon span {
  z-index: 999;
  height: 5px;
  width: 40px;
  background-color: white;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

.menu-pane {
  z-index: 3;
  background-color: #000;
  position: fixed;
  top: 0;
  transform: translateX(-55vw);
  transform-origin: (0, 0);
  width: 50vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane nav{
 margin:100px 0px 30px 4%;
 padding: 0px 0px 0px 0px;
 }

 .menu-pane ul {
  margin: 10px 0px 10px 4%;
  padding: 0px 0px 0px 0px;
}

.menu-links li, a, span {
  transition: 0.5s ease-in-out;
}

.menu-pane li {
 font-size: 40px;
}

.menu-links li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0px 0px 0px 4%;
}

.menu-links li:hover{
  background-color: rgba(65, 201, 235, 0.788);
}

.hamburger-checkbox {
  position: fixed;
  z-index: 3;
  top: 15px;
  left: 20px;
  width: 40px;
  opacity: 0;
  height: 40px;
}

@media(min-width: 1001px ){
  .menu-pane li {
    font-size: 40px;
   }
}

@media(max-width: 1000px ) and (min-width: 671px ){
  .menu-pane li {
    font-size: 30px;
   }
}

@media(max-width: 670px ){
  .menu-pane li {
    font-size: 20px;
   }
}
.sponsors-contents{
  margin: 20px 15% 20px 15%;
  padding: 5px 0 10px 0;
  background-color:rgba(255, 255, 255, 0.75);
}

.color1{
  border-top: solid 5px #008080;
  border-bottom: solid 5px #008080;
}

.color2{
  border-top: solid 5px #4168e1;
  border-bottom: solid 5px #4169e1;
}

h3{
  text-align: center;
}

.tenpo{
  column-count: 2;
  margin: 0 10% 0 10%;
  padding-left: 8%;
}

.kome{
  text-align: right;
  color: white;
}

.newstitle{
  font-weight: bold;
  text-align: center;
  background-color:rgb(52, 248, 238);
  width:40%;
  display: block;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 50px;
  padding: 20px
}

dl{
    background-color:rgba(255, 255, 255, 0.75);
    padding: 10px;
    width: 80%;
    max-width: 600px;
    margin: 3% auto;
    border-left: double 10px #8fbc8f;
    border-right: double 10px #8fbc8f;
}

dt{
    color: navy;
    font-weight: bold;
    padding: 0;
    width: 120px;
    float: left;
    margin-bottom: 7px;
}

dd{
    color: #333;
    margin-bottom: 7px;
}

dl::after{
    content: '';
    display: block;
    clear: both;
}



/*スライドショーの部分以下*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:70%;
   margin:0 auto;
}

.slider img {
   width:100%;/*スライダー内の画像を横幅100%に*/
   height:auto%;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
   margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
   text-align:center;
 margin:20px 0 0 0;
}

.slick-dots li {
   display:inline-block;
 margin:0 5px;
}

.slick-dots button {
   color: transparent;
   outline: none;
   width:8px;/*ドットボタンのサイズ*/
   height:8px;/*ドットボタンのサイズ*/
   display:block;
   border-radius:50%;
   background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
   background:#333;/*ドットボタンの現在地表示の色*/
}



.container-fluid{
  margin: 0 10% 0 10%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row a{
  width: 50%;
  padding:1% 5% 1% 5%;
}

.row img{
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.row img:hover{
  opacity: 0.65;
  transition: 00.5s;
}

.pamphlet{
  margin: 5% 0 5% 0;
  text-align: center;
}

.btn-animation-02 {
  display: inline-block;
  width: 70%;
  text-align: center;
  background-color: #6495ed;
  border: 2px solid #6495ed;
  font-size: 16px;
  color: #6495ed;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}

.footer-wrap{
  background-color:rgb(185, 185, 185);
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 5%, 0);
  padding: 40px;
}


footer {
  color: white;
  margin-top: 30px;
  text-align: center;
  font-size: 10px;
}
footer a {
  text-decoration: none;
}
footer a:active,
footer a:link,
footer a:visited {
  color: white;

}
