*{
    box-sizing:border-box;
  }
  body{
    background-color:rgb(212, 247, 252);
  }
.lesson-wrapper{
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
      text-align: center;
    height: 1000px;
  }
  .vary{
    display: inline-block;
    width:60%;
    margin: auto;
  }
  .online{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: pink;
    border-radius: 50px;
    text-align: center;
  }
  .taimen{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: #f6ad49;
    border-radius: 50px;
    text-align: center;
  }
  .online a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .taimen a{
    border-radius: 20px;
    padding:10px 30px;
    text-align: center;
    color:#5f5d60;
    font:bold;
    color:white;
  }
  .heading {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #5f5d60;
    width:100%;
  }
  .heading h2 {
    font-weight: bold;
    text-align: center;
    background-color:rgb(57, 211, 250);
    width:40%;
    display: block;
    margin: auto;
    border-radius: 50px;
    padding: 20px;
  }
  
  .lesson {
    float: left;
    width: 33%;
    background-color:white;
    padding: 0px;
    margin: 20px 0;
    border: solid 7px rgb(57, 211, 250);
    border-radius: 30px;
  }
  .lesson-icon {
    position: relative;
    display: block;
  }
  .lesson-icon a {
    top: 30%;
    width: 100%;
    color: #5f5d60;
  }
  .text-contents {
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:#f6ad49;
    border-radius: 10px;
  }
  .text-contents1{
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    font-size: 13px;
    color:white;
    background-color:pink;
    border-radius: 10px;
  }

  .btn {
    padding:0px;
    color: black;
    display: inline-block;
    opacity: 0.8;
    border-radius: 0px;
    text-align: center;
    position:relative;
	  top:0;
    padding:10px 20px;
    display: inline-block;
   
    color: #333;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
  }
  .btn1 {
    padding:20px;
    display: inline-block;
    opacity: 0.8;
    border-radius:50px;
    text-align: center;
    margin: 20px 20px;
    position:relative;
	  top:0;
    padding:10px 20px;
    display: inline-block;
   
    color: #333;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
  }
  .btn:hover {
    opacity: 1;
    background-color: #f7f7f7;
    top:-3px;
   	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  .btn1:hover{
    opacity:1;
    top:-3px;
	  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  }
  .lesson a{
    display: inline-block;
    width:100%;
  }
  header h1{
    font-size: 40px;
    text-align: center;
  }
  img{
    width:130px;
    height: 130px;
  }
@media screen and (max-width:575.98px) {
  .lesson {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color:white;
    padding-bottom: 0px;
    margin: 10px 0px;
    border: solid 7px rgb(57, 211, 250);
    border-radius:0px;
  }
  .taimen{
    display: inline-block;
    width: 40%;
    padding: 0px 0px;
    margin: 0px;
    background-color:#f6ad49;
    border-radius: 50px;
    text-align: center;
  }
  .btn1 {
    padding:5px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;
    margin: 10px 0px;
  }
  .vary{
    display: inline-block;
    width:100%;
    margin: auto;
  }
}

@media screen and (max-width:767.98px) and (min-width:576px) {
  .lesson {
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color:white;
    padding-bottom: 0px;
    margin: 10px 0px;
    border: solid 7px rgb(57, 211, 250);
    border-radius:0px;
  }
  .taimen{
    display: inline-block;
    width: 40%;
    padding: 0px 20px;
    margin: 0px;
    background-color: #f6ad49;
    border-radius: 50px;
    text-align: center;
  }
  .btn1 {
    padding:20px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;
    margin: 10px 0px;
  }
  .vary{
    display: inline-block;
    width:100%;
    margin: auto;
  }
}

@media screen  and (max-width:1498.98px) and (min-width:768px){
  .lesson-icon a {
    top: 44%;
    width: 100%;
    color: #5f5d60;
    font-size:20px;
  } 
}

@media screen  and (min-width:1500px){
    
}
HEAD
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

body {
  
}

.body-text {
 
}

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 20px;
  padding-bottom: 10px;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: red;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

.menu-pane {
  background-color: #000;
  position: absolute;
  transform: translateX(-55vw);
  transform-origin: (0, 0);
  width: 50vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane nav{
 margin:100px 0px 30px 4%;
 padding: 0px 0px 0px 0px;
 }

 .menu-pane ul {
  margin: 10px 0px 10px 4%;
  padding: 0px 0px 0px 0px;
}

.menu-links li, a, span {
  transition: 0.5s ease-in-out;
}

.menu-pane li {
 font-size: 40px;
}

.menu-links li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0px 0px 0px 4%;
}

.menu-links li:hover{
  background-color: #FFAB91;
}

.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 20px;
  width: 40px;
  opacity: 0;
  height: 40px;
}

@media(min-width: 1001px ){
  .menu-pane li {
    font-size: 40px;
   }
}

@media(max-width: 1000px ) and (min-width: 671px ){
  .menu-pane li {
    font-size: 30px;
   }
}

@media(max-width: 670px ){
  .menu-pane li {
    font-size: 20px;
   }
}

.news{
    background-color: rgb(255, 215, 0, 0.2);
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

h2.newstitle{
    font-family: "游明朝",YuMincho;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

dl{
    background-color:whitesmoke;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

dt{
    color: navy;
    font-weight: bold;
    padding: 0;
    width: 120px;
    float: left;
    margin-bottom: 7px;
}

dd{
    color: #333;
    margin-bottom: 7px;
}

dl::after{
    content: '';
    display: block;
    clear: both;
}

