

@media screen and (max-width:575.98px) {
    
}

@media screen and (max-width:767.98px) and (min-width:576px) {
    
}

@media screen  and (max-width:1498.98px) and (min-width:768px){
    
}

@media screen  and (min-width:1500px){
    
}

.news{
    background-color: rgb(255, 215, 0, 0.2);
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

h2.newstitle{
    font-family: "游明朝",YuMincho;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

dl{
    background-color:whitesmoke;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

dt{
    color: navy;
    font-weight: bold;
    padding: 0;
    width: 120px;
    float: left;
    margin-bottom: 7px;
}

dd{
    color: #333;
    margin-bottom: 7px;
}

dl::after{
    content: '';
    display: block;
    clear: both;
}
